{% extends 'header.html' %}

{% block head %}


<title>Author Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Author Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Inter column Distance</label>
                <input class="form-control" type="text" name="Intercolumnar_distance" placeholder="Enter inter column distance"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Upper Margin</label>
                <input class="form-control" type="text" name="upper_margin" placeholder="Enter upper margin"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Lower Margin</label>
                <input class="form-control" type="text" name="lower_margin"
                    placeholder="Enter lower margin" />

            </div>
            <div class="mb-3">
                <label class="form-label">Exploitation</label>
                <input class="form-control" type="text" name="exploitation" placeholder="Enter a value of exploitation"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Row number</label>
                <input class="form-control" type="text" name="row_number"
                    placeholder="Enter a value of row number" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Modular Ratio</label>
                <input class="form-control" type="text" name="modular_ratio" placeholder="Enter a value of modular ratio"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Inter linear spacing</label>
                <input class="form-control" type="text" name="inter_linear_spacing" placeholder="Enter a value of inter linear spacing"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Weight</label>
                <input class="form-control" type="text" name="weight"
                    placeholder="Enter a value of weight" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Peak Number</label>
                <input class="form-control" type="text" name="peak_number" placeholder="Enter a value of peak number" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">ModularRatio/linear spacing</label>
                <input class="form-control" type="text" name="modular_per_inter" placeholder="Enter a value of ratio per space" required/>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Author name" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
            Author name
            </div>
            <div class="card-body">
        {% if context['avila_data'] is not none %}
        <table class="table table-striped">
            <caption>Author Name Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['avila_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>author_name </td>
                <td>
                    {{ context['author_name'] }}
                </td>
            </tr>
        </table>

        {% else %}

            <h5 class="card-title">Submit Form</h5>
            <p class="card-text">Kindly provide necessary information to estimate Author name</p>
            


        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}